.pageSelectBtn{
    color:white;
    background: #0366d6;
    padding: 10px 15px;
    border:none;
    cursor: pointer;
    border-radius: 8px;
   
}
.pageBtn{
    padding: 10px 15px;
    border:none;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 8px;
   
}
.pageBtn:hover{
    border: 1px solid #e1e4e8;
}
.paginateCont{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 35%;
    margin: 50px auto;
}
.btn-num{
    display: flex;
}
@media screen and (max-width:570px){
   .btn-num{
       display: none;
   }
}