.mainCont{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 32px;
    max-width: 1280px;
    margin: 0 auto 40px auto;    
    
}

.listContainer{
    border:1px solid #e1e4e8;
    border-radius:6px ;
}
.head{
    padding: 16px;
    background: #f6f8fa;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e1e4e8;
}

.headText{
    display: flex;
    line-height: 20px;
    white-space: nowrap;
    align-items: center;
    color: #586069;
    margin-right: 10px;
}

.listBody{
    width: 100%;
    display: flex;
    justify-content: center;
}
.nothing{
    padding:100px 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.issue__number {
    font-size: 14px;
    color: #999;
    margin-right: 0.5rem;
  }

  .allLists{
    display: flex;
    flex-direction: column;
    width: 100%;
  
  }

  code {
    padding: 2px 4px;
    background-color: rgb(27 31 35 / 5%);
    font-size: .9em;
    line-height: 1;
    border-radius: 6px;
}
.hoverList:hover{
    background: #f6f8fa;
}
.issueMedia{
    display: flex;
    align-items: center;
}
.openHide{
    display: flex;
}
@media screen and (max-width:1000px){
    .issueMedia{
       flex-direction: column;
       align-items: flex-start;
    }
    .openHide{
        display: none;
    }
}   


@media screen and (max-width:700px){
    .listheaderHide > div:nth-of-type(3){
        display: none;
    }
}

@media screen and (max-width:570px){
    .listheaderHide > div:nth-of-type(2){
        display: none;  
    }
    .mainCont{
        padding: 0;
    }
}


@media screen and (max-width:450px){
    .listheaderHide > div:nth-of-type(6){
        display: none;  
    }
}

@media screen and (max-width:400px){
    .listheaderHide > div:nth-of-type(5){
        display: none;  
    }
}
.listheaderHide{
    display: flex;
}