.subHeader{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 25px 2% 0 2%;
    margin-bottom: 1px solid rgb(27 31 35 / 15%);
    box-shadow:inset 0 -1px 0 #eaecef;
    background-color: #fafbfc;
}
.row1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.subHeaderBtn{
    color: #24292e;
    background-color: white;
    border: 1px solid rgb(27 31 35 / 15%);
    outline: none;
    border-radius: 5px;
    padding: 3px 12px;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 12px;
    line-height: 20px;
    margin-right: 10px;
}
.subHeaderBtn:hover{
    background-color: #eaecef;
}
.btnIcon{
    color:#ea4aaa;
    font-size:15px !important;
    margin-right:4px;
}
.btns{
    display: flex;
    
}
.row2{
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 2rem;
}
.row2 > div{
    display: flex;
    align-items: center;
    padding: 0 20px;
    border-bottom:2px solid transparent;
    cursor: pointer;
    height: 30px;
}
.row2 > div:hover{
    border-bottom:2px solid #9ba2aa;
}
.nav-btns >div{
    margin-left: 10px;
}

.row2 > div:nth-of-type(2){
    display: flex;
    align-items: center;
    padding: 0 20px;
    font-weight: 600;
    border-bottom:2px solid #f9826c;
    cursor: pointer;
    height: 30px;
}
.navIcons{
    font-size: 19px !important;
    color:#9ba2aa;
    fill:#9ba2aa;
    height: 1rem;
    height:1rem;
}
@media screen and (max-width:770px) {
    .btns{
        display: none;
    }
}

.iconMenu{
    display: none;
    padding: 0 20px;
    align-items: center;
}

@media screen and (max-width:1000px){
   
}
@media screen and (max-width:1060px){
    .iconMenu{
        display: flex;
        margin-top: 20px;
    }
    .row2 > div:nth-of-type(8){
        display: none;
    }
}

@media screen and (max-width:896px){
    .row2 > div:nth-of-type(7){
        display: none;
    }
}

@media screen and (max-width:775px){
    .row2 > div:nth-of-type(6){
        display: none;
    }
}

@media screen and (max-width:685px){
    .row2 > div:nth-of-type(5){
        display: none;
    }
}

@media screen and (max-width:600px){
    .row2 > div:nth-of-type(4){
        display: none;
    }
}

@media screen and (max-width:470px){
    .row2 > div:nth-of-type(3){
        display: none;
    }
}