.container{
    width: 100%;
    padding: 4rem 32px;
    max-width: 1280px;
    display: flex;
    justify-content: center;
    margin: auto;
    height:10.3rem;
    
}
.filterBtn{
    display: flex;
    align-items: center;
    padding: 3px 16px;
    border-radius: 5px 0 0 5px;
    outline: none;
    border: 1px solid rgb(27 31 35 / 15%);
    background: #fafbfc;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    white-space: nowrap;
    box-shadow: 0 1px 0 rgba(27,31,35.0.04),inset 0 1px 0 hsla(0,0,100%,0.25);
}

.searchInputDiv{
    position: relative;
    width: 100%;
    margin-right: 20px;
    
}
.searchIcon{
    position: absolute;
    color: #586069;
    top:5px;
    left: 5px;
    
}
.searchInput{
    color: #586069;
    padding: 5px 30px;
    font-size: 14px;
    line-height: 20px;
    border: 1px solid rgb(27 31 35 / 15%);
    border-radius: 0 5px 5px 0;
    width: 100%;
    
}
.searchInput:focus{
    border-color: #0366d6;
    outline: none;
    box-shadow: 0 0 0 3px rgba(3 , 102, 214,0.3)

}
.greenBtn{
    background:#2ea44f ;
    color: white;
    padding: 5px 16px;
    font-size: 14px;
    font-weight: 500;
    border:none;
    line-height: 20px;
    border-radius: 5px;
    white-space: nowrap;
}


.searchBtnStyle{
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width:800px ) {

    .container{
        flex-direction: column;
    }
    .searchBtnStyle{
        margin-top: 20px;
        justify-content: space-between;
    }

}