footer{
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 20px 32px;
    max-width: 1280px;
    border-top: 1px solid #e1e4e8;
    max-width: 1280px;
    margin: 20px auto ;
}

footer p{
    font-size: 12px;
}
.footer-logo{
    display:flex;
    justify-content:center;
    width:100px;
}

.footer-row{
    display: flex;
    justify-content: space-around;
    width: 40%;
}
@media screen and (max-width:1000px) {
    .footer-logo{
        display: none;
    }
    .footer-row{
        justify-content: space-around;
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
    }
    .footer-row p{
        padding: 2px 20px; 

    }
    footer{
        flex-direction: column;
    }
}